<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp
    </a>
    
    
    <div class="login">    
    
  </div>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <div> <%= user %> </div>
      </div>
      <% if(user){ %>
        <form method="POST" action="/logout" >               
          <button class="btn btn-success" type="submit" id="log">Logout</button>    
      </form>
      <% } else{ %> 
        <form method="POST" action="/login" > 
          <form method="POST" action="/register" >    
          <label><b>     
          </b>    
          </label>               
          <button class="btn btn-success"  id="log"><a href="/login">Login</a></button>      
          <button class="btn btn-success"  id="log"><a href="/register">Register</a></button>   
      </form>  
     <% } %>  
    </div>
  </nav>
</header>
