<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp
    </a>
    <form method="POST" action="/login">    
      <label><b>User Name     
      </b>    
      </label>    
      <input type="text" name="username" id="Uname" placeholder="Username"/>            
      <button type="submit" id="log">Login</button>    
  </form> 
    <div class="login">    
    
  </div>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <div> <%= username %> </div>
      </div>
    </div>
  </nav>
</header>
